/* 헤더 시작 */
.logo {
    background: url(./spr_intro.png);
    background-position: 0 -98px;
    width: 78px;
    height: 29px;
}

header,
.header_menu,
.main_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px;
}

.header_menu > li {
    margin: 0 16px;
    font-size: 14px;   
}

.lang_select {
    width: 100px;
    border: none;
    outline: none;
    cursor: pointer;
}

.lang_select:hover {
    text-decoration: underline;
}

.header_menu > li > a {
    padding: 8px 16px;
    color: #000;
    text-decoration: none;
}

.header_menu > li:last-child > a {
    background: #21c531;
    color: #fff;
    border-radius: 3px;
}
/* 헤더 끝 */

/* 메인 컨테이너 시작 */
.main_container {
    background: #f6f8fa;
    justify-content: center;
}

.phone_ui {
    background: url(./phone.jpg);
    width: 540px;
    height: 695px;
    background-size: cover;
}

.main_text_box > h2 {
    font-size: 48px;
    font-weight: 500;
}

.main_text_box > p {
    margin-top: 16px;
}

.button_box {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}

.button_box > button {
    background: #21c531;
    border: none;
    font-size: 16px;
    border-radius: 3px;
}

.button_box > button > a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 16PX;
}